.gameboard {
    width: 25rem;
    height: 25rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.2rem;
    transition: transform ease-in-out 1000ms;
}

.comp-board {
    position: absolute;
    top: 26.9%;
    left: 52%;
}

.user-board {
    transform: translateX(-55%);
}