.container {
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
        font-size: 3rem;
    }

    .control-buttons {
        display: flex;
        gap: 2rem;
    }
}